.graph{
    border-bottom: 2px solid #FDDE55;
    border-top: 2px solid #FDDE55;;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: last baseline;
    justify-content: center;
    gap: 15px;
}